.notebook-entry{
	.make-row();

		h3{
			.make-sm-column(12);
			text-align: center;

				a{
					background: none;
					color: @link-color;

						&:hover{
							color: @brand-primary-dark;
						}
				}
		}
}

div.notebook{
	.border-bottom-gradient(lighten(@text-color,33%));
}

.pager{
	a:hover{
		border-bottom: 1px solid @pager-border;
		color: @text-color;
	}
}