/**
	Nothing in this file should be project spicific

	First some mixins to mix it up
**/

.ease-in-out(@time) {
  transition: all @time ease-in-out;
}

.opacity-bg() {
	&:after{
		content: "";
		opacity: 0.5;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		position: absolute;
		z-index: -1;
	}
}

.border-bottom-gradient(@color-mid) {
	background-size: 100% 1px;
	background-repeat: no-repeat;
	background-position: 0 90%;
	background-image: linear-gradient(left, @body-bg 0%, @color-mid 50%, @body-bg 100%);
}

/**
	Now set some styles to go across the board
**/

a{
	.ease-in-out(.2s);
		&:hover{
			text-decoration: none;
			border-bottom: none;
		}
}

object{
	pointer-events: none;
}