// Brand colors
// -------------------------

@brand-primary:         #27ae60;


// Glyphicons path
// -------------------------

@icon-font-path:        "../vendor/bootstrap/fonts/";

// Font Stuff
// -------------------------

@font-path: "../fonts";

@font-family-sans-serif: "gotham_lightregular", monospace; // Helvetica, Arial, sans-serif;