#banner{
	a{
		text-decoration: none;
		outline: 0;
	}
	header{
		background-color: #252122;
		background-color: rgba(34,30,31,0.98);
		text-align: center;
		h2{
			color: #fff;
			font-weight: 700;
		}
		.byline{
			color: #d52349;
			padding: 0;
			font-style: normal;
		}
	}
	.image-full{
		margin: 0;
	}
}