.button{
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	border: 0;
	border-radius: 5px;
	background: #d52349;
	color: #fff !important;
	font-weight: 700;
	outline: 0;
	-moz-transition: background-color .25s ease-in-out;
	-webkit-transition: background-color .25s ease-in-out;
	-o-transition: background-color .25s ease-in-out;
	-ms-transition: background-color .25s ease-in-out;
	transition: background-color .25s ease-in-out;
	&:hover{
		background: #e53359;
	}
	&:active{
		background: #c51349;
	}
}
.button-sm{
	font-weight: inherit;
	border-radius: 4px;
}
.button-alt{
	background: #252122;
	&:hover{
		background: #353132;
		border-radius: 5px;
		width: inherit;
	}
	&:active{
		background: #151112;
	}
}