ul.contact{
	
}
ul.contact li, ul#gform_fields_1 li{
	position: relative;
	border-top: solid 1px #ddd;
	padding: 1.3em 0 1.3em 7em;
}
ul#gform_fields_1 li{
	margin-bottom: 0;
	padding: 1.3em 0 1.3em 0em;
}
ul.contact li h3{
	position: absolute;
	left: 0;
	top: 1.3em;
	font-size: 1.1em;
}
ul.contact li p{
	margin: 0;
}
ul.contact li:first-child, ul#gform_fields_1 li:first-child{
	padding-top: 0;
	border-top: 0;
}
ul.contact li:first-child h3{
	top: 0;
}
.gform_wrapper .right_label input.large{
	width: 100%;
}
#gf_1{
	height: 1px;
	margin: 0;
	padding: 0;
}
#gform_wrapper_1{
	margin: 0;
}
.gform_wrapper .right_label .gfield_label{
	color: #252122;
	font-weight: 700;
	font-size: 1.1em;
	text-transform: lowercase;
	display: none;
}
.gform_fields .gfield input[type=text], 
.gform_fields .gfield input[type=email], 
.gform_fields .gfield input[type=tel],
.gform_fields .gfield input[type=url],
.gform_fields .gfield textarea{
	border-radius: 3px;
	border: 2px;
	background: #252122;
	color: white;
	/* font-size: ; */
	transition: background-color .2s ease-in-out;
	-webkit-transition: background-color .2s ease-in-out;
	-moz-transition: background-color .2s ease-in-out;
	-o-transition: background-color .2s ease-in-out;
}
.gform_fields .gfield input[type=text]:focus, 
.gform_fields .gfield input[type=email]:focus, 
.gform_fields .gfield input[type=tel]:focus,
.gform_fields .gfield input[type=url]:focus,
.gform_fields .gfield textarea:focus{
	background: #353132;
}
#gform_submit_button_1{
	background: #252122;
	float: right;
	margin-right: 15px;
}
#gform_submit_button_1:hover{
	background: #353132;
}
br.clear{
	clear: both;
}
p, ul, ol, dl, table{
	margin-bottom: 2em;
}
section, article{
	margin-bottom: 2.5em;
}
section > :last-child, article > :last-child{
	margin-bottom: 0;
}
section:last-child, article:last-child{
	margin-bottom: 0;
}