@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');
::selection {
	background: #252122;
    color: #FFF;

}
body{
	font-family: 'Source Sans Pro';
	font-weight: 300;
	background: url('../img/bg02.png') #252122;
}

.pull-right{
	float: right;
	&:after{
		clear: both;
	}
}
.pull-left{
	float: left;
	&:after{
		clear: both;
	}
}
h1, h2, h3, h4, h5, h6{
	color: #252122;
	font-weight: 700;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
	color: inherit;
	text-decoration: none;
}
a{
	color: #5d5d5d;
	transition: background-color .2s ease-in-out;
	-webkit-transition: background-color .2s ease-in-out;
	-moz-transition: background-color .2s ease-in-out;
	-o-transition: background-color .2s ease-in-out;
	padding: 0.08em;
	&:hover{
		background: #353132;
		color: white;
		text-decoration: none;
		border-radius: 3px;
		width: 3em;
	}
	.norm{
		color: #d52349;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
}
.major{
	position: relative;
	text-align: center;
	border-top: solid 1px #ccc;
	top: 1em;
	h2{
		background: #fff;
		position: relative;
		top: -0.65em;
		display: inline;
		margin: 0;
		padding: 0 1em 0 1em;
	}
}
.byline{
	display: block;
	font-style: italic;
}
	
form{
	margin: 0 0 20px;
}
br.clear{
	clear: both;
}
p, ul, ol, dl, table{
	margin-bottom: 2em;
}
section, article{
	margin-bottom: 2.5em;
}
section > :last-child, article > :last-child{
	margin-bottom: 0;
}
section:last-child, article:last-child{
	margin-bottom: 0;
}