#header-wrapper{
	position: relative;
	background: #ffffff;
	/* border-bottom: solid 1px #ccc; */
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background: url('../img/bg02.png');
		z-index: 0;
		opacity: 0.5;
		box-shadow: inset 0px -60px 40px 0px #fff;
	}
	&:after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background: url('../img/bg01.png');
		background-size: 100% 100%;
		z-index: 0;
		opacity: 0.25;
	}
}
#header-wrapper > .\35 grid-layout{
	position: relative;
	z-index: 1;
}
.wallpaper{
	background: url('../img/bg02.png');
	height: 296px;
}
#main-wrapper{
	position: relative;
	/* background: linear-gradient(to bottom, rgba(234,234,234,1) 33%,rgba(247,247,247,1) 100%); */
	box-shadow: inset 0px 60px 40px #f9f9f9;
	background: #f7f7f7;
	/* background: #f7f7f7 url('../img/bg02.png'); */
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background: url('../img/bg01.png');
		background-size: 100% 100%;
		z-index: 0;
		opacity: 0.1;
	}
	.major{
		h2{
			background: #f7f7f7 url('../img/bg02.png');
		}
	}
}
#footer-wrapper{
	position: relative;
	color: #858484;
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background: url('../img/bg01.png');
		background-size: 100% 100%;
		z-index: 0;
		opacity: 0.5;
	}
	a{
		color: #c5c4c4;
		text-decoration: none;
	}
	h2, h3, h4, h5, h6, strong, b{
		color: #fff;
		a{
			color: inherit;
		}
	}
	h1 a{
		color: inherit;
	}
	ul.contact li{
		border-top-color: #353434;
		border-top-color: rgba(255,255,255,0.05);
	}
	ul.dates li{
		border-top-color: #353434;
		border-top-color: rgba(255,255,255,0.05);
	}
	ul.divided li{
		border-top-color: #353434;
		border-top-color: rgba(255,255,255,0.05);
	}
}