#banner{
	position: relative;
	.image-full{
		margin: 0;
	}
}
#intro{
	padding: 3em 0 0 0;
	text-align: center;
	section{
		padding: 2em 0;
	}
	.middle{
		box-shadow: 16px 0px 0px 0px #fff,
					17px 0px 0px 0px #ccc, 
 
					-16px 0px 0px 0px #fff, 
					-17px 0px 0px 0px #ccc, 
 
					-16px -45px 0px 0px #fff, 
					16px -45px 0px 0px #fff, 
 
					-16px 45px 0px 0px #fff, 
					16px 45px 0px 0px #fff, 
 
					-16px 0px 45px 0px rgba(0,0,0,0.15),
					16px 0px 45px 0px rgba(0,0,0,0.15);
	}
	.actions{
		padding: 5em 0 0 0;
		.button{
			width: 12em;
			margin: 0 0.5em 0 0.5em;
		}
	}
	h2{
		font-size: 1.75em;
		margin: 0 0 1.5em 0;
	}
	p{
		font-size: 1.25em;
		margin: 0;
	}
}