footer{
	background: @gray-darker;
}
.content-info {
	.container();
}
.foot-across{
	.make-sm-column(8);
	.make-sm-column-offset(2);
	margin-top: 15px;
	margin-bottom: 15px;

		p{
			text-align: center;
		}

		a:hover{
			color: @brand-primary;
		}

		.credit{
			margin-bottom: 0;
			font-size: 15px;
			color: lighten(@gray-dark, 10%);
				a{
					color: lighten(@gray-dark, 10%);
						&:hover{
							color: @brand-primary;
						}
				}
		}

		.signup{
				a{
					color: @body-bg;
					font-size: 18px;
						&:hover{
							color: @brand-primary;
						}
				}
		}

		.list-inline{
			text-align: center;
		}
}

.ad-space{
	.make-sm-column(6);
		.ad-container{
			background: @gray-dark;
			padding: 5px;
		}
		.img-container{
			.make-sm-column(5);
		}
		.ad-description{
			color: @off-white;
			.make-sm-column(7);
				p{
					font-size: 15px;
				}
		}
}

