// Nav links
.menu{
	li {
		.ease-in-out(.2s);
		&:hover{
			opacity: .3;
		}
		a{
			color: @gray-dark;
			border-bottom: none;
		}	
	}
}

// Content wrapper
.wrap { }

// Main content area
.main { }
