// Fonts

@font-face {
    font-family: 'gotham_lightregular';
    src: url('../fonts/gotham-light/ufonts.com_gotham-light-webfont.eot');
    src: url('../fonts/gotham-light/ufonts.com_gotham-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-light/ufonts.com_gotham-light-webfont.woff') format('woff'),
         url('../fonts/gotham-light/ufonts.com_gotham-light-webfont.ttf') format('truetype'),
         url('../fonts/gotham-light/ufonts.com_gotham-light-webfont.svg#gotham_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

main a{
	border-bottom: 1px solid @brand-primary;
	color: darken(@text-color, 15%);

		&:hover,
		&:focus{
			color: @brand-primary-dark;
			border-bottom: 1px solid @brand-primary;
		}
}

// Content wrapper
.content{
	max-width: @container-tablet;
	margin: 0 auto;
}

// Main content area
.main { }
