.banner {
	@media (min-width: @screen-xs-max){
	    .navbar-nav{
	        float:none !important;
	        margin: 0 auto !important;
	        display: table;
	        table-layout: fixed;
	    }
	    .navbar{
		    margin-bottom: 0 !important;
		    border: none !important;
	    }
	}
}

// Nav & header styles
header{
		.bg{
			background-attachment: fixed;
			height: 300px;
			@media (max-width: @screen-md-min) {
				height: 250px;
			}
			position: relative;
				&:after{
					background-attachment: fixed;
				}
		}

		.logo{
			width: 227px;
			height: 127px;
		}
}

.bg{
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	.opacity-bg(0.5);

	.bg&:after{
		background-size: cover;
	}

		.table{
			height: 100%;

				div{
					vertical-align: middle;
				}

			ul{
				.list-inline();
				margin-top: 12px;

				> li{
					padding-left: 7px;
					padding-right: 7px;
				}
			}
		}
}

.menu{
	text-transform: lowercase;
	.visible-md();
	.visible-lg();
	li {
		.ease-in-out(.2s);
		a{
			color: @black;
			border-bottom: none;
			&:hover{
				color: @brand-primary-dark;

			}
		}	
	}
}

.table{
	overflow: hidden;
	display: table;
	margin: 0;

	div{
		display: table-cell;
		position: relative;
		text-align: center;
		margin: 0;
	}
}