.banner {
	@media (min-width: @screen-xs-max){
	    .navbar-nav{
	        float:none !important;
	        margin: 0 auto !important;
	        display: table;
	        table-layout: fixed;
	    }
	    .navbar{
		    margin-bottom: 0 !important;
		    border: none !important;
	    }
	}
}

.bg{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	background-position: center center;
	background-size: cover;
	width: 100%;

		.table{
			height: 100%;
			overflow: hidden;
			display: table;
			margin: 0;

				h1{
					display: table-cell;
					position: relative;
					vertical-align: middle;
					text-align: center;
					margin: 0;
				}
		}
}