.page-header{
	h1{
		text-align: center;
		position: relative;

			&:before{
				content: '\2f\2f';
				color: @text-color;
				display: inline-block;
				position: absolute;
				font-size: 12px;
				line-height: 12px;
				font-family: @font-family-sans-serif;
				bottom: -7px;
				left: 0;
				right: 0;
				text-align: center;
			}

			&:after{
				content: '';
				display: block;
				border-bottom: 1px solid @text-color;
				position: absolute;
				bottom: -2px;
				left: 42.5%;
				width: 15%;
				height: 0;
			}
	}
}