.hentry .page-header h1{
	
	&:before{
		margin-right: 5px;
	}
	&:after{
		margin-left: 5px;
	}
}
.page-header{ // .hentry header is for single posts
	.border-bottom-gradient(lighten(@gray-dark,33%));

	h1{
		text-align: center;

			&:before,
			&:after{
				color: lighten(@gray-dark, 62%);
				.ease-in-out(.5s);
			}

			&:before{
				content: '\00ab';
				margin-right: 25px;
			}

			&:after{
				content: '\00bb';
				margin-left: 25px;
			}

		@media (max-width: @screen-sm-min){
			&:before,
			&:after{
				content: ' ';
				margin-right: 0;
				margin-left: 0;
			}
		}
	}
}

main,
main .hentry header.page-header{
	&:hover{

		h1,
		.entry-title{
			&:before,
			&:after{
				color: @gray-dark;
			}

			&:before{
				margin-right: 5px;
			}

			&:after{
				margin-left: 5px;
			}
		}
	}
	@media (max-width: @screen-sm-min) {
		h1{
			&:before,
			&:after{
				content: '';
				margin-left: 0;
				margin-right: 0;
			}
		}
	}

	p:last-child{
		margin-bottom: 0;
	}
}

@media (max-width: @screen-sm-min){
	h1{
		font-size: floor(@font-size-h1 * .80);
	}
	h2{
		font-size: floor(@font-size-h2 * .80);
	}
	h3{
		font-size: floor(@font-size-h3 * .80);
	}
	h4{
		font-size: floor(@font-size-h4 * .80);
	}
	h5{
		font-size: floor(@font-size-h5 * .80);
	}
	h6{
		font-size: floor(@font-size-h6 * .80);
	}
	p{
		font-size: floor(@font-size-base * .85);
	}
}