.page-header{
	background-size: 100% 1px;
	background-repeat: no-repeat;
	background-position: 0 90%;
	background-image: linear-gradient(left, @body-bg 0%, @text-color 50%, @body-bg 100%);

	h1{
		text-align: center;
	}
}