.hentry header { }
.hentry time { 
	display: block;
	text-align: center;
	font-size: 15px;
}

.hentry .byline {  }

.hentry .entry-content {
}

.hentry footer {
	background: @body-bg;
	margin-top: @line-height-computed;

		span{
			display: block;
			text-align: center;
			opacity: .1;
			.ease-in-out(.5s);
			&:before,
			&:after{
				opacity: .2;
				.ease-in-out(.5s);
			}
			&:before{
				content: '#';
				margin-right: 25px;
			}
			&:after{
				content: '#';
				margin-left: 25px;
			}
		}

	p{
		margin: 0;
		text-align: center;
		font-size: 15px;

			a{
				.border-bottom-gradient(@body-bg);
			}
	}

	&:hover{
		span{
			opacity: 1;
			&:before,
			&:after{
				opacity: 1;
			}
			&:before{
				margin-right: 5px;
			}
			&:after{
				margin-left: 5px;
			}
		}
	}
}
