.hentry header { }
.hentry time { 
	display: block;
	text-align: center;
	font-size: 15px;
}

.hentry .byline { /* not inluded */ }

.hentry .entry-content {
}

.hentry footer {
	background: @body-bg;
	margin-top: @line-height-computed;

		&:after{
			content: '###';
			display: block;
			text-align: center;
		}

	p{
		margin: 0;
		text-align: center;
		font-size: 15px;

			a{
				.border-bottom-gradient(@body-bg);
			}
	}
}
