.site-wrap{ /* Hides everything pushed outside of it */
    // overflow: hidden;
    // width: 100%;
    // height: 100%;
}

.push-wrap{ /* Adds a transition and the resting translate state */
    transition: all 300ms ease 0;
    transform: translate(0, 0);
    transform: translate3d(0, 0, 0);

    position: relative;
    min-height: 950px;
    //height: 100%;
    background-color: @body-bg;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 0;
    z-index: @z-firstfloor;
    width: 100%;

    a.toggle-nav{
        position: absolute;
        font-size: 25px;
        color: rgb(255, 139, 139);
        top: 0;
        left: 0;
        background: #444;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        .visible-xs;
        .visible-sm;
        z-index: @z-firstfloor;
    }
}

.show-nav .push-wrap{ /* Will animate the content to the right 275px revealing the hidden nav */
     transform: translate(275px, 0);
     transform: translate3d(275px, 0, 0);
}

nav{
    width: 275px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #2b343f;
    box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.5);

    ul{
        margin: 0;
        padding: 0;
        list-style: none;

        li a{
            display: block;
            text-decoration: none !important;
            height: 60px;
            line-height: 60px;
            font-size: 18px;
            color: #fff;

            &:hover{
                background: #4EFFFF;
                color: #000;
            }
        }
    }
}

.it-all{
    // position: relative;
    // min-height: 1500px;
    // //height: 100%;
    // background: @body-bg;
    // z-index: 9;
    // width: 100%;

    // a.toggle-nav{
    //     position: absolute;
    //     font-size: 25px;
    //     color: rgb(255, 139, 139);
    //     top: 0;
    //     left: 0;
    //     background: #444;
    //     width: 60px;
    //     height: 60px;
    //     line-height: 60px;
    //     text-align: center;
    //     .visible-xs;
    //     .visible-sm;
    //     z-index: @z-firstfloor;
    // }
}